[user]
    name = n-hutton

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status -s
    diffgui = difftool --tool=p4merge --no-prompt
    mod = ls-files -m

[diff]
    tool = kompare
